.Athlets_desc_container {
    position: relative;
}

.Athlets_desc_container .connection_container,
.Athlets_desc_container .collab_container,
.Athlets_desc_container .growth_container {
    min-height: 256px;
    display: flex;
    align-items: center;
}

.Athlets_desc_container .connection_container {
    background-color: var(--white);
}

.Athlets_desc_container .collab_container {
    background-color: var(--second-container);
}

.Athlets_desc_container .growth_container {
    background-color: var(--third-container);
}

.Athlets_desc_container .connection_content,
.Athlets_desc_container .collab_content,
.Athlets_desc_container .growth_content {
    width: 35%;
    margin-left: 50%;
}

.connection_header,
.collab_header,
.growth_header {
    display: flex;
    align-items: center;
}

.Athlets_desc_container #topic {
    font-family: 'Roboto';
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 1.5px;
    color: var(--topic-color);
    margin-left: 16px;
}

.Athlets_desc_container #topic-number,
.Athlets_desc_container #last-topic-number {
    font-family: 'Roboto';
    font-size: 18px;
    color: #000000;
}

.Athlets_desc_container #topic-number::after {
    content: " ";
    display: block;
    width: 19px;
    height: 5px;
    background-color: var(--purple-underline);
    border-radius: 2.5px;
}

.Athlets_desc_container #last-topic-number::after {
    content: " ";
    display: block;
    width: 19px;
    height: 5px;
    background-color: var(--white);
    border-radius: 2.5px;
}

.connection_body,
.collab_body,
.growth_body  {
    margin-top: 31px;
}

.connection_body span,
.collab_body span {
    font-family: 'Roboto';
    font-size: 20px;
    color: var(--black);
}

.growth_body span {
    font-family: 'Roboto';
    font-size: 20px;
    color: var(--white) !important;
}

@media only screen and (max-width: 768px) {

    .Athlets_desc_container .connection_content,
    .Athlets_desc_container .collab_content,
    .Athlets_desc_container .growth_content {
        width: 60%;
        margin-left: 291px;
    }

    .connection_body,
    .collab_body,
    .growth_body  {
        margin: 30px 0;
    }

    .connection_body span,
    .collab_body span,
    .growth_body span {
        font-size: clamp(14px, 1rem + 1vw ,18px);
        line-height: 28px;
        letter-spacing: 0.837px;
    }
}

@media only screen and (max-width: 320px) {

    .Athlets_desc_container{
        margin-top: -50px;
    }

    .Athlets_desc_container .connection_container,
    .Athlets_desc_container .collab_container,
    .Athlets_desc_container .growth_container {
        height: 284px;
        display: flex !important;
        align-items: center;
    }

    .Athlets_desc_container .connection_content,
    .Athlets_desc_container .collab_content,
    .Athlets_desc_container .growth_content {
        width: 100%;
        margin-left: 19px;
    }

    .Athlets_desc_container #topic {
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 1.5px;
    }
    
    .Athlets_desc_container #topic-number,
    .Athlets_desc_container #last-topic-number {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.5px
    }
    
    .Athlets_desc_container #topic-number::after,
    .Athlets_desc_container #last-topic-number::after {
        width: 17px;
        height: 4px;
    }

    .connection_body span,
    .collab_body span,
    .growth_body span  {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.74px;
    }

    .slick-dots {
        bottom: 28px !important;
    }

    .slick-dots li button:before {
        font-size: 10px !important;
        color: var(--dot-color-active) !important;
    }

    .slick-dots li.slick-active button:before {
        opacity: 1 !important;
        color: var(--dot-color-active) !important;
    }

}