:root {
  --header-color: #E7E7E7;
  --white: #ffffff;
  --black: #000000;
  --second-container: #F5F4F9;
  --third-container: #5E3DB3;
  --player-third-container: #090C35;
  --purple-underline: #603EBE;
  --topic-color: #C2C2C2;
  --third-number: #8F6BE8;
  --dot-color: #D8D8D8;
  --dot-color-active: #5C3CAF;
}

.App {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.Athlets_container,
.Player_container {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .App {
    overflow-x: hidden !important;
  }

}